@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap&effect=shadow-multiple|fire-animation|fire');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jersey+20&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #dadada;
  position: relative;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: black; */
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 5vw; */
  
}
nav{
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgb(192, 25, 25); */
    padding: 3vw 4vw;
}
nav h3{
    font-size: 1.2vw;
    font-weight: 300;
}
nav h4{
    font-size: 1.1vw;
    font-weight: 300;
}
#page1-content h1{
    font-size: 16vw;
    font-weight: 400;
    
    font-family: "Sedan", serif;
    
    padding-right: 50vw;
    color: white;
}
#page1-content h1 span{

  display: inline-block;
    font-size: 16vw;
    font-weight: 400;
    font-family: "Wix Madefor Text", sans-serif
    /* padding-right: 590px; */
    
}
#cursor{
  height: 5.5vw;
  width: 5.5vw;
  
  
  
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
  
}
#cursor img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.8;
  
}
#page3{
  background-color: #dadada;
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}
#page3-top{
  /* background-color: red; */
  text-align: center;
}
#page3-top h4{
  font-family: "Raleway", sans-serif;
  margin-bottom: 1vw;
  font-size: 1.1vw;
  font-weight: 500;
}
#page3-top h2{
  font-family: "Raleway", sans-serif;
  font-size: 3.5vw;
  font-weight: 500;
}
#page3-top h4 span{
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin-left: 10px;
  font-size: 0.5vw;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 6px 8px;
  border-radius: 10px;
} 
#page3-elements{
  height: 90vh;
  width: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
  
}
#page3-elements .box{
  height: 100%;
  width: 32.5%;
  background-color: grey;
  position: relative;
}
#page3-elements .box video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
#page3-elements .box img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center ;
  transition: all linear 1s;
}
#page3-elements .box:hover img{
  opacity: 0;

}
#loader{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
    
}
#loader h3{
  font-size: 2vw;
  font-weight: 200;
  gap: 20px;
}